/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f7;
}

#map {
    height: 90%;
    width: 90%;
    border: 2px solid #333;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
}
